<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>345083626444-v4oq4k314q2i8gu0ejcmigrj4dujd2bd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.345083626444-v4oq4k314q2i8gu0ejcmigrj4dujd2bd</string>
	<key>API_KEY</key>
	<string>AIzaSyD5OLsoNY5koK36rlHEFSka3oq4RTFUXmE</string>
	<key>GCM_SENDER_ID</key>
	<string>345083626444</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.oray.shareSpace</string>
	<key>PROJECT_ID</key>
	<string>sharespace-c7347</string>
	<key>STORAGE_BUCKET</key>
	<string>sharespace-c7347.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:345083626444:ios:f1e779ede7f76556</string>
	<key>DATABASE_URL</key>
	<string>https://sharespace-c7347.firebaseio.com</string>
</dict>
</plist>